* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 120%;
  background: linear-gradient(to bottom, #3498db, #2c3e50);
}

.card {
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 2em;
  border-radius: 10px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  color: #333;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: #333;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

button:hover {
  background: #7c7c7c6b;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
  color: #333;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
  color: #555;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: #555;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
